'.source.coffee':
		'Function':
				'prefix': 'fn'
				'body': '($1) -> $2'

		'Module Config':
				'prefix': 'ngmod'
				'body': """
						app = angular.module '${1:Module Name}', [ 'ngRoute'${2:Dependencies}]
						app.config ['$routeProvider', ($routeProvider)->

							$routeProvider.when '/',
								controller : '${3:Main}Controller'
								templateUrl : 'html/${3:Main}.html'

								.when '/${4:Path}',
								controller : '${4:Path}Controller'
								templateUrl : '$4/${4:Path}.html'$5
								.otherwise
								redirectTo : '/'
						]
				"""

		'Angular Controller Definition':
				'prefix': 'contr'
				'body': """
						module.exports = ['$scope', ($scope) ->
							$1
						]
				"""

		'Angular Service Definition':
				'prefix': 'service'
				'body': """
					class ${1:Service Name}
						constructor: (${2:Dependencies})->
						method1: ()->
						method2: ()->

				"""

		'Angular Directive Definition':
				'prefix': 'directive'
				'body': """
					module.exports = ()->
						restrict : 'E'
						scope:
							# bidirectional : "="
							# assignment : "@"
							# method : "&"

						templateUrl : '$1.html'
						controller: ($scope, $element, $attrs, $transclude) -> $2
						link : ($scope, element, attributes, controller) -> $3
				"""

		'Function':
			'prefix': 'fn'
			'body': '($1) -> $2'

		'Angular $scope':
			'prefix': 'sc'
			'body': '$scope.$1'

		'Angular watch':
			'prefix': 'watch'
			'body': "$scope.$watch '$1', (value)-> $2"

		'Angular apply':
			'prefix': 'apply'
			'body': "$scope.$apply ()-> $1"

		'Angular Router when':
				'prefix': 'ngwhen'
				'body': """
						.when '/${1:Path}',
								controller : require './$1/$1'
								templateUrl : '/$1/$1.html'$2
				"""

		'Angular HTTP POST':
			'prefix':'ngpost'
			'body': """
				$http.post "/$1",
					${2:Variables}
				.success (data,status,headers,config)-> ${3:callback data}
				.error (data,status,headers,config)-> ${4:callback data}
			"""

		'Angular $ocModal':
			'prefix': 'ocmodal'
			'body': """
				$ocModal.open
					id: '$1'
					url: '$2/$2.html'
					controller: .require './../$2/$2'
					cls: 'my-modal'
					onClose: $3
					init:
						$4
			"""

		'Angular $ngDialog':
			'prefix': 'dialog'
			'body': """
				ngDialog.open
					template: '$1/$1.html'
					controller: require './../$1/$1'
					className: 'ngdialog-theme-default'$4
			"""
